.DS_Store
app/static/js/axios.min.js
app/static/js/vue.js
*.css
__pycache__
*.sqlite
node_modules
ProtoType.ipynb
vue
.vscode
.ipynb_checkpoints
migrations
app/static/js/app.*.js.map
app/static/fonts/element-icons.*.ttf
app/static/js/about.*.js
app/static/font/element-icons.*.ttf
app/static/font/element-icons.*.woff
app/static/js/about.*.js.map
app/static/js/app.*.js
app/static/js/chunk-vendors.*.js.map
app/static/fonts/element-icons.*.woff
app/static/js/chunk-vendors.*.js
