<!DOCTYPE html>
<html>

<head>
    <title>test</title>
    <link rel="stylesheet" href="../static/css/app_monitor.css">


</head>

<body>

    <div class="app" id="app">
        <div class="header">
                    <div id="crumbs " class="crumbs in-block">总览/平面图</div>
                    <div class="status in-block" id="status">11</div>
            
        </div>
        <div class="sidebar">
            <div class="user" id="user">用户</div>
            <div class="section" id="nav-section">列表</div>
        </div>
        <div class="content">
            Content
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
        <div class="footer" align="center">Footer</div>
    </div>





</body>
<script src="../static/js/vue.js"></script>
<script src="../static/js/axios.min.js"></script>
<script src="../static/js/app_monitor.js"></script>

</html>