<!DOCTYPE html>
<html>

<head>
    <title>test</title>
    <link rel="stylesheet" href="/static/css/app.css">


</head>

<body class="docs">
    <div id="header">
    </div>
    <div id="main" class="fix-sidebar">
        <div class="app" id="app">
            <h1 align="center">Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
            <input type="text" v-model="name" placeholder="你的名字">
            <button @click="Hasname">有名字</button>
            <button @click="addname">添加名字</button>
            <button @click="delname">删除名字</button>
            <button @click="listname">人们</button>
            <button @click="listUser_info">用户信息</button>
            <h1 class="axio">{{hasname}}</h1>
            <h1 class="axio">{{static}}</h1>
            <h1 class="c">Place</h1>
            <input type="text" v-model=" place" placeholder="地点">
            <button @click="listPlace">地点列表</button>
            <button @click="Place_info">地点信息</button>
            <h1 class="axio">{{places}}</h1>
            <h1 class="axio">{{place_static}}</h1>
        </div>

        <div class="footer" align="center">
            <p>test</p>
        </div>
    </div>

</body>
{% include 'script.html' %}

</html>